<div class="pop-container pop-up  left" id="hunt-incomplete">
    <% if(currScore.cluesFound != 12){ %>
    <div class="blk-overlay"></div>
      <div class="pop">
        <p> Anda telah menemui kunci <%= currScore.cluesFound %>! Tinggal lagi <%= currScore.cluesFound %>! Semak progress anda dengan menggunakan paparan skor ini!</p>
        <p>Cari semua penyelesaian untuk membuka kunci ganjaran anda</p>
        <p>Baca 12 penyelesaian yang disyorkan dalam <a href="https://drive.google.com/file/d/1n80SI2Jo0i40A-C3gVRJkEpvbOaSA0OF/view#page=57">kertas penyelidikan ini.</a></p>
        <div class="scorecard-display">
          <p>Kad skor anda:</p>
          <div>
            <img class="<%= currScore.cluesFound > 0 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 1 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 2 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 3 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 4 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 5 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
          </div>
          <div>
            <img class="<%= currScore.cluesFound > 6 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 7 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 8 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 9 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 10 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
            <img class="<%= currScore.cluesFound > 11 ? 'score-coin show' : 'score-coin dim' %>" src="/images/menu/group-369.svg" alt="">
          </div>


      </div>
        <button class="pop-btn hunt-incomplete-close">Saya faham!</button>
      </div>
      <% } else { %>
      <div class="blk-overlay"></div>
        <div class="pop">
          <img src="/images/party-popper_1f389@2x.png" style="width:10%;" alt="">
          <div class="scorecard-display">
            <p>Kad skor anda:</p>
            <div>
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
            </div>
            <div>
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
              <img class="score-coin" src="/images/menu/group-369.svg" alt="">
            </div>

          </div>
          <p>Anda berjaya! Anda telah mempelajari semua 12 kunci utama yang boleh memperbaik capaian pendidikan kepada kanak-kanak Orang Asli!</p>

          <button  class="pop-btn grey hunt-incomplete-close">Teruskan membaca</button>
          <a href="/en/take-action"><button class="pop-btn">Bawakan saya kepada ganjaran saya!</button></a>

        </div>
        <% } %>
  </div>



<!-- Recommendation popups  -->
<div class="pop-container pop-up" class="recommendation" id="rec-1">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 1: Perlu ada tumpuan yang lebih besar terhadap pembelajaran dan menangani cabaran-cabaran asas berbanding memberi tumpuan pada permasalahan gejala</strong></p>
      <p>Budaya persekolahan umum mesti mengutamakan pembelajaran berbanding peperiksaan atau ulang-hafalan. Pendidikan berkualiti tinggi yang boleh memotivasikan dan mendidik pelajar amat diperlukan bagi melahirkan pelajar Orang Asli yang berdikari. Dasar dan program perlu menangani isu asas dan bukannya hanya menangani masalah gejala secara am yang tidak menyelesaikan atau membasmi isu ini.</p>

        <% if(currScore.cluesFound != 12){ %>
      <button class="pop-btn grey">Teruskan membaca</button>
      <button class="pop-btn hunt-incomplete-close">Check my scorecard</button>
        <% } else { %>
          <button class="pop-btn hunt-incomplete-close">Check my scorecard</button>
          <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-2">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 2: Budaya dan sejarah orang asal haruslah disepadukan ke dalam kurikulum arus perdana.</strong></p>
      <p>Sangat penting untuk budaya dan sejarah Orang Asal dimasukkan dalam kurikulum arus perdana, dan Orang Asli tidak seharusnya digambarkan sebagai kaum asing eksotik, sebaliknya diraikan sebagai sebahagian daripada kepelbagaian masyarakat di Malaysia. Murid-murid sekolah harus diajar tentang kumpulan sub-etnik Orang Asli yang berbeza, tempat tinggal, sumbangan kepada pembentukan negara, kesenian, dan budaya mereka yang berkait rapat dengan persekitaran semula jadi.</p>
      <p>Hak Orang Asli untuk menentukan nasib mereka sendiri sebagai Orang Asal juga harus dimasukkan dalam pendidikan arus perdana.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Continue Reading</button>
    <button class="pop-btn hunt-incomplete-close">Check my scorecard</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Check my scorecard</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-3">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 3: Program sedia ada haruslah dipantau dan dinilai untuk memastikan penyampaian dan pelaksanaan yang cekap dan berkesan</strong></p>
      <p>Pemantauan berkala, serta penilaian semasa dan pasca program diperlukan untuk memastikan program berjalan mengikut perancangan dan dapat dilaraskan sekiranya terdapat isu baharu yang timbul. Pemantauan dan penilaian ini perlu dipertimbangkan pada permulaan reka bentuk program asal.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-4">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 4: Para guru dan pemimpin sekolah yang mempunyai kelengkapan dan berkemampuan menyampaikan pendidikan berkualiti kepada murid Orang Asli perlu diberikan autonomi yang lebih luas dan kebertanggungjawaban yang seimbang. of delivering quality education for Orang Asli students need to be entrusted with greater autonomy and balanced accountability.</strong></p>
      <p>Guru dan pemimpin sekolah yang mampu meningkatkan kualiti pendidikan murid Orang Asli harus diberi kebebasan untuk berbuat demikian, kerana mereka boleh menjadi teladan yang memacu perubahan. Walau bagaimanapun, autonomi ini perlu diimbangi dengan kebertanggungjawaban. Guru-guru dan pemimpin sekolah ini juga perlu diberi latihan lanjut dan kelengkapan untuk memanfaatkan sepenuhnya autonomi ini supaya dapat menyampaikan pengajaran dan pembelajaran yang berkesan berserta peruntukan sumber yang cekap.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-5">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 5: Latihan pra-penempatan mengenai budaya Orang Asli boleh diberikan kepada guru, dan infrastruktur serta sumber untuk guru di sekolah Orang Asli harus ditambah baik.</strong></p>
      <p>Guru-guru yang ditempatkan di sekolah yang mempunyai murid Orang Asli harus diberi latihan untuk memperkenalkan mereka kepada sejarah dan budaya kumpulan sub-etnik Orang Asli yang akan mereka ajar. Modul persediaan ini juga boleh merangkumi latihan prasangka tersirat untuk mewujudkan kesedaran diri tentang prasangka perkauman yang dialami oleh Orang Asli.</p>
      <p>Guru yang ditempatkan di sekolah Orang Asli sering memikul pelbagai tanggungjawab di luar bilik darjah, seperti menjaga pelajar selepas waktu sekolah dan menyelenggara infrastruktur sekolah. Guru-guru ini harus diberi lebih sokongan dan dinaikkan elaun untuk tanggungjawab tambahan ini. Keadaan kehidupan dan infrastruktur pengajaran mereka juga boleh dipertingkatkan.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-6">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 6: Guru harus dilatih dalam pedagogi yang inovatif dan adaptif, manakala wadah/sarana/medan/saluran untuk perkongsian pengetahuan boleh diwujudkan.</strong></p>
      <p>Guru harus diperkenalkan kepada cara pengajaran yang berbeza seperti pedagogi responsif dan adaptif terhadap budaya, sebelum dan semasa penempatan mereka. Guru-guru berpengalaman digalakkan berkongsi amalan terbaik mereka dan memberikan nasihat kepada guru baharu.</p>
      <p>Inisiatif perkongsian pengetahuan lain boleh merangkumi persidangan pengajaran tahunan untuk memupuk rangkaian dan sokongan dalam kalangan guru; dan saluran perkongsian pengetahuan dalam talian yang mesra pengguna sebagai sumber untuk guru.</p>
      <p>Guru sering menggunakan dana persendirian untuk membina alat pengajaran yang inovatif. Mereka harus disokong, dan dana pengajaran serta pembelajaran harus disediakan untuk guru. Pengiktirafan juga harus diberikan kepada guru dan sekolah atas amalan terbaik mereka.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-7">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 7: Kepercayaan dan kerjasama antara sekolah dan masyarakat Orang Asli perlu dibina kerana ibu bapa Orang Asli serta komuniti mereka adalah rakan kongsi yang penting dalam pendidikan.</strong></p>
      <p>Hal ini penting dalam mewujudkan persekitaran yang menyokong kanak-kanak Orang Asli. Sekolah dan komuniti harus mempunyai komunikasi terbuka dan bekerja secara kolaboratif. Sekolah juga boleh menggunakan kepakaran komuniti dan pengetahuan tempatan sebagai sebahagian daripada pengalaman pembelajaran untuk pelajar mereka.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-8">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 8: Sekolah berasaskan komuniti (PDK) perlu diiktiraf sebagai sebahagian daripada sistem sokongan untuk sekolah dan sumber yang mencukupi perlu disediakan kepada PDK.</strong></p>
      <p>Sokongan dan pengiktirafan harus diberikan kepada PDK oleh kerana peranan penting mereka dalam pendidikan masyarakat. PDK menyediakan pendidikan prasekolah, program selepas waktu sekolah dan dalam beberapa kes persekolahan alternatif untuk kanak-kanak tanpa akses kepada sekolah awam atau mereka yang tercicir. Beberapa PDK juga menyediakan peluang pembelajaran untuk orang dewasa dalam komuniti.</p>
      <p>Sokongan boleh diberi dalam bentuk pembiayaan dan bantuan sumber kepada PDK, termasuk infrastruktur seperti perpustakaan, komputer dan sambungan internet yang kukuh. Walau bagaimanapun, autonomi mereka harus kekal sebagai ciri penting dalam struktur tadbir urus mereka.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-9">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 9: Pendidikan prasekolah yang berkualiti perlu disediakan berdasarkan pembelajaran melalui permainan, interaksi sosial dan persekitaran mereka.</strong></p>
      <p>Murid Orang Asli tanpa akses kepada prasekolah serba kekurangan apabila mereka memasuki Darjah 1, kerana kurikulum menganggap bahawa mereka sudah boleh membaca, menulis dan mengira. Guru perlu memberi perhatian khusus untuk mengajar kemahiran asas ini kepada mereka, tetapi hal ini mungkin tidak dapat dilakukan memandangkan saiz kelas yang besar. Murid yang menghadiri prasekolah juga mungkin lebih yakin dengan kebolehan mereka dan dapat beralih ke kehidupan persekolahan dengan lebih baik. Terdapat banyak kampung yang tidak mempunyai akses kepada prasekolah dan penubuhan lebih banyak pusat didikan komuniti (PDK) boleh memainkan peranan penting dalam menyediakan pendidikan prasekolah untuk kanak-kanak Orang Asli.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-10">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 10: Masyarakat Orang Asli harus diperkasa untuk menjadi agen perubahan mereka sendiri dan mengambil bahagian dalam proses penggubalan dasar berkaitan Orang Asli.</strong></p>
      <p>Ini memastikan bahawa budaya dan pandangan mereka diterapkan dalam penggubalan dasar. Isu dan cabaran pendidikan harus ditangani bersama dengan ibu bapa dan komuniti Orange Asli di peringkat sekolah, negeri dan kebangsaan.</p>
      <p>Salah satu langkah yang penting adalah penubuhan Majlis pendidikan Orang Asli, yang terdiri daripada pemimpin, penggubal dasar pendidikan, pengetua, dan guru Orang Asli, bersama dengan pihak berkepentingan lain yang berkaitan. Majlis ini boleh mentadbir dan memantau kemajuan dasar dan program untuk kanak-kanak, lantas memastikan suara Orang Asli diambil kira dan terlibat sepenuhnya dalam pemantauan rapi mana-mana program.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-11">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 11: Mewujudkan wacana berasaskan kekuatan untuk beralih daripada wacana defisit semasa Orang Asli.</strong></p>
      <p>Kadar keciciran pelajar Orang Asli yang tinggi dan jurang dalam pencapaian pendidikan sering dikaitkan dengan budaya dan cara hidup mereka. Semua pihak berkepentingan perlu beralih daripada 'wacana defisit' ini, dan menerima pakai satu rangka berasaskan kekuatan yang menghargai budaya Orang Asli sebagai aset. Hal ini termasuk peralihan kepada kaedah pengajaran responsif terhadap budaya yang menggunakan konteks budaya pelajar untuk menjadikan pembelajaran berkaitan dan berkesan.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-12">
  <div class="blk-overlay"></div>
    <div class="pop">
      <p><strong>Cadangan 12: Kerjasama kementerian yang berkaitan mesti diperkukuh untuk menangani cabaran pelbagai dimensi yang dihadapi oleh kanak-kanak dan masyarakat Orang Asli.</strong></p>
      <p>Pelbagai agensi perlu bekerjasama untuk menyediakan akses kepada pendidikan berkualiti tinggi. Hal ini termasuk membina sekolah yang berhampiran dengan kampung, menyediakan pengangkutan dan jalan raya yang selamat dan kukuh, serta bantuan kewangan dan sumber kepada keluarga dan sekolah.</p>
      <p>Infrastruktur seperti asrama, perpustakaan, pusat komputer, dan sambungan internet juga amat diperlukan.</p>
      <p>Di peringkat kampung, kemudahan asas seperti elektrik dan air bersih adalah penting.</p>
      <p>Kerjasama NGO dan yayasan kebajikan lain juga diperlukan dalam usaha ini. Aliran maklumat dan ketelusan mengenai ketersediaan bantuan juga perlu ditangani supaya ibu bapa dan pelajar menyedarinya dan mempunyai akses kepada bantuan dan sumber yang tersedia untuk mereka.</p>

      <% if(currScore.cluesFound != 12){ %>
    <button class="pop-btn grey">Teruskan membaca</button>
    <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
      <% } else { %>
        <button class="pop-btn hunt-incomplete-close">Semak kad skor saya</button>
        <% } %>
    </div>
</div>
