<!DOCTYPE html>
<html id ="c04" lang="ms">
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="og:title" content="“Saya nak sekolah yang dalam hutan, bangunan simple je”">
   <meta name="og:description" content="Dua adik beradik ini mahukan sebuah sekolah di mana mereka boleh menari, mempelajari tentang hutan, dan berkawan dengan sesiapa sahaja. Dan kisah mereka bermula di Turki...">
   <meta name="og:image" content="http://sekolahkita.my/images/chapters/chapter-4.PNG">
      <meta name="twitter:title" content="“Saya nak sekolah yang dalam hutan, bangunan simple je”">
   <meta name="twitter:description" content="Dua adik beradik ini mahukan sebuah sekolah di mana mereka boleh menari, mempelajari tentang hutan, dan berkawan dengan sesiapa sahaja. Dan kisah mereka bermula di Turki...">
   <meta name="twitter:image" content="http://sekolahkita.my/images/chapters/chapter-4.png">
   <meta name="twitter:card" content="summary_large_image">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <!-- overlay -->
      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
      <%- include popups/treasure-hunt-bm.ejs %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-4.PNG" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>BAB 4</div></div>
                 <h3>“Saya nak sekolah yang dalam hutan, bangunan simple je”</h3>
                 <div class="ch-content">
                   <p>Memori kegemaran buat Selah ialah makan salji di Turki. Dia tidak mengakui bahawa itu memori kegemarannya – malahan dia cuba menyembunyikan kebanggaannya – namun dia mula menggambarkan memori itu secara terperinci, bukannya semata-mata menjawab soalan kami.</p>
                   <p>Dia berusia 10 tahun ketika lawatan pertamanya ke luar negara, sebagai sebahagian daripada pasukan yang mewakili Malaysia di pertandingan tarian antarabangsa. Semasa di Turki, mereka menghabiskan seharian melawat gunung yang diliputi salji.</p>
                   <p>Kita boleh makan salji? tanya kami. “Eh, boleh” jawabnya, mula ketawa mengenangkan pengalamannya. “Kan salji dia tebal, jadi kita ambil yang kat bawah-bawah tu. Tak kotor pun, ambil yang bersih lah.”</p>
                   <p>Mereka juga melawat Cappadocia, katanya, tetapi mengecilkan kisahnya dengan mengatakan mereka terlambat dan terlepas daripada aktiviti pelancongan popular iaitu melihat belon udara panas yang dilepaskan dengan begitu banyak pada waktu pagi.</p>
                   <p>Pengalaman itu sungguh berharga, sehinggakan pertandingan tarian itu sendiri seakan-akan kurang penting. “Kami tak menang, kita dapat tempat sepuluh sembilan macam tu,” katanya apabila ditanya tentang keputusan. “Rasa macam, tak apa lah kalau tak menang pun.” Dia melepaskan ketawa sinis. “Sebab diaorang negara sendiri yang menang, tak tahu kenapa. Turki yang menang, mereka nombor satu.”</p>
                   <p>Perbualan mula menjadi sepi, kedengaran bunyi hutan di lembah cetek Gombak, pinggiran kawasan bandar Kuala Lumpur. Bunyi serangga yang nyaring, sekali-sekala diikuti oleh panggilan burung, dan dengungan sayup lalu lintas lebuhraya dari jauh.</p>
                    <div id="ch-doodle">
                        <img src="/images/chapters/ch4-doodle.png" alt="">
                    </div>
                   <p>Inilah landskap yang dipanggil rumah oleh Selah dan keluarganya. Mereka adalah Orang Asli, keturunan Semai, walaupun menetap di kawasan tradisi Temuan. Selah dan kanak-kanak dari kampungnya bersekolah di sekolah kebangsaan berdekatan, di mana mereka adalah minoriti dalam kalangan pelajar, bersama murid-murid lain yang majoritinya Melayu. Beginilah realiti komuniti Orang Asli, seperti Selah, yang tinggal berdekatan atau dalam kawasan populasi utama.</p>
                   <p>“Kalau saya, saya nak buat sekolah tu macam peraturan dia takde lah ketat sangat la,” kata Selah, apabila kami memintanya membayangkan sekolah idamannya. “Macam sekolah itu, tak ada paksaan. Cara rilek-rilek je.”</p>
                   <p>“Kalau saya, saya nak belajar menari. Jadi pelajaran macam matematik, sains – bolehlah, tapi kurangkan.”</p>
                   <p>“Tak tahu mengapa, tapi saya suka menari. Sejak kecil masuk menari, semasa Tahun 4.”</p>
                   <p>Ketika itulah perbualan bertukar kepada tarian, Turki dan salji.</p>
                   <p>“Masa itu (semasa pertandingan), dia campur,” katanya mengenai persembahannya di Turki. “Menari Cina ada, India ada, Melayu ada...” suaranya terhenti seketika. “Macam Malaysia lah, menari semua,” akhirnya dia berkata.</p>
                   <p>Adakah tarian Semai turut disertakan? tanya kami. “Tak ada. Tarian Orang Asli tak ada (dalam persembahan).”</p>
                   <p>Bolehkah ia dijadikan sebahagian daripada persembahan? “Ya,” katanya perlahan, seakan memikirkannya buat pertama kali. “Kalau diorang nak, bolehlah. Tapi kalau diorang tak nak, nak buat macam mana?”</p>
                   <p>Pernah cadangkannya kepada guru? “Tak,” dia terhenti. “Saya ikut je.”</p>
                   <p>Daripada 23 orang penari, terdapat enam penari Orang Asli dalam pasukan itu, termasuk Selah.</p>
                   <p>Menurut kajian IDEAS, terdapat kekurangan penyertaan dalam kalangan murid dan ibubapa Orang Asli dalam pendidikan, selalunya berpunca daripada rasa ketidakserasian dengan sekolah.</p>
                   <p>“Murid Orang Asli mungkin hadir ke sekolah, tetapi mereka sering merasakan seolah-olah ia bukan tempat mereka, seperti sekolah adalah suatu tempat yang asing dan bukan sesuatu dalam kawalan mereka,” kata pensyarah kanan Universiti Malaya Dr Rusaslina Idrus, penulis bersama kertas kajian itu.</p>
                   <p>“Bayangkan anda pergi ke sekolah, di mana mural yang meraikan kepelbagaian kaum biasanya hanya menunjukkan tiga bangsa utama. Mungkin mereka tidak menyuarakan perasaan mereka, tetapi mesej bahawa Orang Asli bukan sebahagian daripada kita telah ditanam ke dalam jiwa mereka, jiwa kanak-kanak Orang Asli dan bukan Orang Asli.”</p>
                   <p>Tambahan pula, kanak-kanak Orang Asli terpaksa mempelajari sukatan pelajaran yang ditujukan kepada populasi utama – sukatan pelajaran yang dipenuhi dengan konsep yang biasa bagi kebanyakan kanak-kanak, tetapi kebanyakannya asing bagi Orang Asli. Ini mengeruhkan lagi ketidakserasian yang mereka rasakan di sekolah.</p>
                   <p>Tidak hairanlah bahawa kajian IDEAS menunjukkan buli dan diskriminasi sebagai dua isu yang paling biasa dibangkitkan oleh Orang Asli yang bersekolah di sekolah kebangsaan.</p>
                   <p>Seorang pelajar Orang Asli yang ditemubual oleh IDEAS masih ingat dipanggil "pendatang” atau "orang asing" oleh rakan sekolahnya. Mereka sangat memahami ironi tersebut.</p>
                   <p>Pelajar lain pula pernah mendengar Orang Asli digambarkan sebagai "kotor" atau "bodoh".</p>
                   <p>“Tiada orang dilahirkan rasis. Ini adalah perangai yang dipelajari, dipupuk dalam persekitaran yang penuh dengan tanggapan diskriminasi terhadap Orang Asli,” kata Dr Rusaslina. <a href="/bab4/jumpa/clue-2" id="clue-2" class="<%= currScore.clue[1] == true ? 'clue found' : 'clue' %>">"Apabila anda meneliti buku teks hari ini, terdapat sedikit sahaja maklumat tentang budaya atau sejarah Orang Asli, jadi bagaimana anak-anak kita hendak tahu tentang mereka?"</a></p>
                   <p>Walaupun sekolah Selah kira-kira memerlukan lima minit sahaja memandu – melalui jalan dua hala yang dipenuhi gerai makan Melayu, rumah dan penempatan Orang Asli – terasa begitu jauh dari hutan di mana kami sedang berbicara dengannya. </p>
                   <p>Di sinilah, tempat tinggal mereka.</p>
                   <p>“Sekolah impian saya, saya nak sekolah yang dalam hutan, bangunan yang simple je,” kata Sonia, kakak Selah, yang ditemubual bersama Selah. “Yang tempatnya sunyi dan sejuk.”</p>
                   <p>“Buku dia boleh pakai kertas daripada pokok, macam recycled la,” sambungnya. “Kita boleh belajar tangkap ikan, buat rumah, macam mana cara haiwan hidup.”</p>
                   <p>Bagaimana untuk hidup di dalam hutan, bagaimana untuk menyalakan unggun api, bagaimana untuk mencari sayur-sayuran – semuanya sebahagian daripada sukatan pelajaran sekolah idaman Sonia, sukatan pelajaran yang kebanyakan kanak-kanak bandar akan gagal.</p>
                   <p>Bagaimana pula dengan suasana di sekolah? Selah dan Sonia kedua-duanya mempunyai jawapan yang sama.</p>
                   <p>“Suasana dia, macam kita semua boleh berkawan lah,” kata Sonia. “Semuanya tak ada perasaan iri hati atau dengki dengan orang lain.”</p>
                   <p>Selah mencelah: “Cikgu dan murid-murid lain, dia tak kisah kita siapa. Dia ajar je, dan kita kawan je dengan siapa-siapa.”</p><br>
                   <p><em>*Nama kanak-kanak telah ditukar untuk melindungi identiti mereka. Temubual bersama Niza ini tiada kaitan dengan temubual kajian IDEAS.</em></p>
                 </div>

                 <div class="ch-finished">
                   <span><img class="<%= currScore.clue[1] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                   <% if (currScore.clue[1] == true){ %>
                   Anda telah selesaikan bab ini
                   <% } else { %>
                   Anda belum menemui kesemua kunci utama dalam bab ini
                   <% } %></span>
                   <div class="chapter-btns">
                     <button class="ch-prev"><a href="/bab3">< SEBELUM</a></button>
                     <button class="ch-next"><a href="/bab5">SETERUSNYA ></a></button>
                   </div>
                 </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EPBWRZ4LCM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EPBWRZ4LCM');
</script>
    </body>
</html>
