<!DOCTYPE html>
<html lang="ms">
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="title" content="“I want a school that’s in the forest, just a simple building”">
   <meta name="description" content="These two sisters want a school where they can dance, learn about the forest, and be friends with everyone. And their story starts in Turkey….">
   <meta name="image" content="/images/chapters/chapter-4.PNG">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <!-- overlay -->
      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
      <%- include popups/treasure-hunt-bm.ejs %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-4.PNG" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>CHAPTER 4</div></div>
                 <h3>“I want a school that’s in the forest, just a simple building”</h3>
                 <div class="ch-content">
                   <p>Selah’s favourite memory is of eating snow in Turkey. She doesn’t say it’s her favourite – in fact she tries not to show her pride – but she starts offering details unbidden, forming a story rather than merely answering our questions.</p>
                   <p>She was 10 years old then, on her first trip abroad, as part of a team representing Malaysia at an international dance competition. While in Turkey, they spent a day visiting a snow-capped mountain.</p>
                   <p>You can eat snow? we ask. “Yes, you can,” she replies, beginning to laugh at the recollection. “You see, the snow is thick so you take it from underneath. It’s not dirty at all, if you take the clean bits.”</p>
                   <p>They went to Cappadocia too, she tells, but downplays her story by saying they were late and missed the popular tourist spectacle of hot air balloons rising en masse in the mornings.</p>
                   <p>So luminant were those memories, that the dance competition itself faded in significance. “We didn’t win, we were tenth or ninth,” she says when we ask about the results. “I felt like, it’s ok that we didn’t win.” She lets out a conspiratorial laugh. “After all, they won in their own country! I don’t know why, but Turkey won, they were first.”</p>
                   <p>A lull in the conversation brings back the forest sounds of this shallow valley in Gombak, on the edges of Kuala Lumpur’s urban sprawl. The blanket sound of shrill insects, punctured by occasional bird calls, with the low drone of the highway traffic in the distance.</p>
                    <div id="ch-doodle">
                        <img src="/images/chapters/ch4-doodle.png" alt="">
                    </div>
                   <p>This is the landscape Selah and her family calls home. They are Orang Asli, of the Semai people, although they reside in a traditionally Temuan area. Selah and the children from her village attend the government school nearby, where they are a minority in the student body, alongside majority Malay classmates. This is often the case for Orang Asli communities, like Selah’s, who live near or within mainstream populations.</p>
                   <p>“If it were up to me, I would make a school where the rules aren’t so tight,” says Selah, when we ask her to describe the school of her dreams. “So it doesn’t feel so forced, in a more relaxed way.”</p>
                   <p>“And for me, I would like to learn dance. Other subjects like maths, science – we can have them, but less.”</p>
                   <p>“I don’t know why, but I just like dancing, since Standard Four when I joined the dance team.”</p>
                   <p>That’s when the conversation turned to dance, Turkey and snow.</p>
                   <p>“At the time (of the competition), it was a mix,” she says of their performance in Turkey. “We had Malay traditional dance, Chinese, Indian...” her voice trails off a bit. “It was Malaysian lah,” she finally says.</p>
                   <p>Was Semai dance included? we ask. “No, there were no Orang Asli dances (in the performance).”</p>
                   <p>Could it have been part of the performance? “Yes,” she says slowly, as if exploring the idea for the first time in her head. “If they want it in the performance, then yes it’s possible. But if they don’t want it, what can I do?”</p>
                   <p>Did you try suggesting this to the teacher? “No,” she pauses. “I just went along with things.”</p>
                   <p>Including Selah, there were six Orang Asli dancers in the team, out of 23.</p>
                   <p>According to IDEAS’ research, there is a lack of participation among Orang Asli students and parents in education, often stemming from a sense of disconnect with schools.</p>
                   <p>“Orang Asli students might attend school, but they often feel like they don’t belong, like schools are something external and not something over which they have any control,” says Universiti Malaya senior lecturer Dr Rusaslina Idrus, who co-authored the paper.</p>
                   <p>“Imagine going to school, where it is common to see murals that celebrate diversity by showing only the three mainstream races. Now, they might not articulate it immediately, but the message that Orang Asli don’t belong is being internalised, in both Orang Asli and non-Orang Asli children.”</p>
                   <p>Moreover, Orang Asli children find themselves studying a syllabus that is meant for mainstream populations – a syllabus filled with concepts that are immediately familiar to most children, but many that are alien to the Orang Asli. This exacerbates the disconnect they feel in school.</p>
                   <p>It is little wonder that IDEAS’ research showed bullying and discrimination as two of the most common issues raised by Orang Asli who attend government schools.</p>
                   <p>One Orang Asli student interviewed by IDEAS remembers being called “pendatang”, or “foreigner”, by her classmates. The irony was not lost on her.</p>
                   <p>Other students report hearing Orang Asli described as “dirty“ or “stupid”.</p>
                   <p>“No one is born racist. These are learned behaviours, fostered in an environment that is ripe for discriminatory notions against Orang Asli to grow,” says Dr Rusaslina. <a href="/en/chapter4/found-clue/clue-2" id="clue-2" class="<%= currScore.clue[1] == true ? 'clue found' : 'clue' %>">“When you look through the textbooks today, there is precious little about Orang Asli culture or history, so how would our children know about them?”</a></p>
                   <p>Although Selah’s school is barely five minutes’ drive away – along a two-way trunk road dotted with Malay food stalls, houses, and Orang Asli settlements – the forest where we are speaking to her seems a world away.</p>
                   <p>Here, they belong.</p>
                   <p>“I want a school that’s in the forest, just a simple building,” says Sonia, Selah’s elder sister, whom we are interviewing together with Selah. “Because here it’s quiet and cool.”</p>
                   <p>“We’d use books of paper made from the trees, like recycled,” she continues. “We would learn how to catch fish, build houses, about how animals live.”</p>
                   <p>How to survive in the forest, how to start a fire, how to find vegetables – all part of Sonia’s dream school syllabus, a syllabus most urban children would fail at.</p>
                   <p>And how would the school environment be? Both Selah and Sonia had the same answer.</p>
                   <p>“The environment would be like, we can all be friends,” says Sonia. “There is no envy or jealousy among us.”</p>
                   <p>Selah chimes in: “And teachers and students, they don’t care who we are, they teach us the same, and we can be friends with everyone.”</p><br>
                   <p><em>*Names of children changed to protect their identities. This interview with Selah and Sonia was conducted independent of IDEAS’ research interviews.</em></p>
                 </div>

                 <div class="ch-finished">
                   <span><img class="<%= currScore.clue[1] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                   <% if (currScore.clue[1] == true){ %>
                   You have completed this chapter
                   <% } else { %>
                   You have not found all the solutions in this chapter
                   <% } %></span>
                   <div class="chapter-btns">
                     <button class="ch-prev"><a href="/bab3">< PREVIOUS</a></button>
                     <button class="ch-next"><a href="/bab5">NEXT ></a></button>
                   </div>
                 </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
