<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/popup.ejs %>
      <%- include popups/treasure-hunt.ejs %>

      <% if(currScore.cluesFound == 0){ %>
      <div class="pop-container pop-up menu-open" id="class-start">
      	    <div class="pop">
      	    	<h5>Class is in session!</h5>
      	    	<p> According to experts, there are 12 key ways we can improve education access for Orang Asli children. Prove you’ve learned about all 12 by tapping on them in the text, like this:</p>

      	    	<p>When you’ve found all 12, you’ll unlock a reward that you can share with your friends! Happy studying!</p>
      	    	<button class="pop-btn" id="class-start-close">Got it!</button>
      	    </div>
      	</div>
        <% } %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-1.PNG" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>CHAPTER 1</div></div>
                 <h3>“When it rains, the roads become like a swamp!”</h3>
                 <div class="ch-content">
                   <p>Somewhere in the middle of the forest in Pahang, a skyscraper will rise from an Orang Asli settlement. That is, if Niza has her way.</p>
                   <p>“I want to build a school that’s right in my village,” Niza tells us. “A school that’s more than what we can build, that’s many storeys high.”</p>
                   <p>“Because Orang Asli students have never experienced being in tall buildings, so I want them to try it, just like Malays and Chinese and other races.”</p>
                   <p>As she speaks to us via video call, the low hum of a generator can be heard in the background, powering the community Wi-Fi hotspot that is connecting us to her, in her village in Pos Lenjang, somewhere at the foothills of the Titiwangsa mountain range. The connection is weak, and we have to turn off our video feed to keep the call going.</p>
                   <p>Spotty internet connection has made learning more stressful during the Covid-19 pandemic, admits Niza. She prefers asking questions to the teacher in person, rather than over messaging apps.</p>
                   <p>We are speaking to Niza as part of a series of interviews* with Orang Asli children, where we invite them to imagine the school of their dreams. Invariably, these imagined schools are rooted in current challenges.</p>
                   <p>“If I build it in our village, then we wouldn’t need to use the JAKOA lorry (to get to school), we can just walk there,” she explains, referring to the transport provided by the Orang Asli Development Department.</p>
                   <p>These lorries are made to carry goods, but are apparently a decent way to transport students along mud tracks too.</p>
                    <div id="ch-doodle">
                        <img src="/images/chapters/ch1-doodle.png" alt="">
                    </div>
                   <p>“It’s big and spacious, but when there are many students it becomes cramped.” she says, laughing as she describes the journey. “Squeezed here, squeezed there. And when we try to sleep, we get knocked here, knocked there on our heads!”</p>
                   <p>It is an eight-hour journey, along mud tracks through the forest, and out to town, with some 30 other students packed into the lorry’s open-top carriage.</p>
                   <p>It’s never happened before, but Niza sometimes fears the lorry would tip over: “Because it’s crowded, and heavy, while the roads are not good,” she explains.</p>
                   <p>“The roads near our village are filled with holes, and when it rains, it’s finished! They become like a swamp!”</p>
                   <p>The driver would have to stop and pull a plastic cover over the carriage, which is a poor defence against heavy rain, but at least keeps some parts of the carriage dry.</p>
                   <p>“Everyone just starts tossing their bags into the dry area in the lorry,” she tells. “When we’re tossing bags, no one is angry, but when we arrive at school, some get angry because they can’t find their bags!”</p>
                   <p>At school, she stays at the hostel until her next lorry ride brings her home for the semester holidays.</p>
                   <p>Do you like taking the lorry to school? we ask. “Yes,” she replies. “There’s no other way to get to school, so I’ll just take whatever there is.”</p>
                   <p>As long as you get to school? “Yes. Because I like going to school, rather than sitting in the village not knowing what to do.”</p>
                   <p>The challenge of merely getting to school is one faced by many Orang Asli students. A <a href="https://www.ideas.org.my/publications-item/contextualising-education-policy-to-empower-orang-asli-children/">2021 research paper by the Institute for Democracy and Economic Affairs (IDEAS)</a> revealed transport as one of the problems most often cited by Orang Asli students and parents when it comes to education attainment, with most of the concerns related to the reliability or adequacy of the transport provided by JAKOA.</p>
                   <p>Some have even reported accidents due to unsuitable or overloaded vehicles.</p>
                   <p>In spite of this, the majority of those surveyed continue to rely on JAKOA’s transport assistance, whether in the form of contracted transport or, in some cases, fuel subsidies. This underscores the broader socio-economic challenges faced by the Orang Asli, which limits their access to infrastructure that mainstream populations take for granted.</p>
                   <p>According to the most recent available statistics from the Economic Planning Unit in the Prime Minister’s Department, when the national poverty rate was 3.8% in 2009, the Orang Asli poverty rate was 49%.</p>
                   <p>IDEAS’ research identified poverty as one of many factors contributing to high dropout rates among Orang Asli students – especially during the transition between primary and secondary school – and poor academic performance.</p>

                   <br>
                   <img src="/images/chapters/dropout-rates-eng.png" style="width:100%;" alt="">

                   <br>
                   <img src="/images/chapters/upsr-rate-eng.png" style="width:100%;" alt="">


                   <p>“The availability of transport assistance shows there is an understanding of the needs of Orang Asli communities,” says Wan Ya Shin, the author of the IDEAS report. <a href="/en/chapter1/found-clue/clue-3" id="clue-3" class="<%= currScore.clue[2] == true ? 'clue found' : 'clue' %>">“But there is a need to continue improving the efficiency and effectiveness of these assistance programmes through better monitoring and evaluation – for all the programmes, not just for transport.”</a></p>
                   <p>IDEAS’ surveys revealed many instances where assistance programmes underwhelmed due to poor implementation. One example is the disbursement of student allowances, which is disbursed at the end of the month, meaning some students go hungry while waiting for the disbursement, and some even end up dropping out.</p>
                   <p><a href='/en/chapter1/found-clue/clue-10' id="clue-10" class="<%= currScore.clue[9] == true ? 'clue found' : 'clue' %>">“The best way to improve is to empower the local communities themselves to be involved in the whole process,”</a> continues Ya Shin. “The creation of an Orang Asli education council comprising Orang Asli leaders, education policymakers, principals, teachers, and other relevant stakeholders to govern and monitor the progress of policy and programmes for children would help to ensure voices of the Orang Asli are fully taken into account and are involved in the close monitoring of any programmes.”</p>
                   <p>“There should then be a proper channel through which this council can make complaints and suggestions to all the relevant ministries, to facilitate collaboration between ministries.”</p>
                   <p><a href='/en/chapter1/found-clue/clue-12' id="clue-12" class="<%= currScore.clue[11] == true ? 'clue found' : 'clue' %>">“The collaboration among the relevant ministries is important because the education challenges faced by Orang Asli students are multidimensional and cut across so many issues, from nutrition, to healthcare, basic amenities to internet access.”</a></p>
                   <p>Midway through our interview with Niza, she has to cut our conversation short.</p>
                   <p>“Wait, wait. The WiFi has run out of petrol,” she says, talking over a commotion of voices in the background. The petrol generator that powers the community WiFi hotspot is low on fuel. Her connection won’t last much longer.</p>
                   <p>“It’s not the pre-paid credit, it’s the petrol,” she clarifies, at once alluding to the two challenges that affect her ‘transport’ to school during the pandemic.</p>
                   <p>While modern connectivity is making the world smaller, bringing people closer by the day, Niza’s dream school still seems very, very far away.</p>
                 </div>

                <div class="ch-finished">
                  <span><img class="<%= currScore.clue[9] == true && currScore.clue[11] == true && currScore.clue[2] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                  <% if (currScore.clue[9] == true && currScore.clue[11] == true && currScore.clue[2] == true){ %>
                  You have completed this chapter
                  <% } else { %>
                  You haven't completed the hunt on this chapter
                  <% } %></span>
                  <div class="chapter-btns">
                    <!-- <button class="ch-prev"><a href="/en/orang-asli">< PREVIOUS</a></button> -->
                    <button class="ch-next"><a href="/en/chapter2">NEXT ></a></button>
                  </div>
                </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
