<!DOCTYPE html>
<html id="c01" lang="ms">
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="og:title" content="“Kalau musim hujan, jalan dia jadi paya!”">
   <meta name="og:description" content="Niza mengimpikan sebuah sekolah bertingkat-tingkat yang terletak di dalam kampungnya. Klik untuk ketahui mengapa.">
   <meta name="og:image" content="http://sekolahkita.my/images/chapters/chapter-1.png">
   <meta name="twitter:title" content="“Kalau musim hujan, jalan dia jadi paya!”">
   <meta name="twitter:description" content="Niza mengimpikan sebuah sekolah bertingkat-tingkat yang terletak di dalam kampungnya. Klik untuk ketahui mengapa.">
   <meta name="twitter:image" content="http://sekolahkita.my/images/chapters/chapter-1.png">
   <meta name="twitter:card" content="summary_large_image">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>

      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
      <%- include popups/treasure-hunt-bm.ejs %>

      <% if(currScore.cluesFound == 0){ %>
        <div class="pop-container pop-up menu-open" id="class-start">
          <div class="blk-overlay"></div>
            <div class="pop">
              <h3>Syabas! Anda hadir ke Sekolah Kita!</h3>

              <p>Menurut kajian, terdapat 12 kunci utama dalam memperbaik capaian pendidikan untuk kanak-kanak Orang Asli. Anda boleh mempelajari kesemuanya dengan membaca kelima-lima bab dalam pelajaran interaktif ini. Buktikan kamu telah belajar kesemuanya dengan mengkliknya seperti ini: </p>

              <img class="gif-mobile" src="/images/popup-instruction-mobile-bm.gif" >
              <img class="gif-desktop" src="/images/popup-instruction-bm.gif" >

              <p>Apabila anda berjaya menjumpai kesemua 12 kunci utama, anda <strong>akan memperoleh ganjaran</strong> yang boleh dikongsi dengan rakan-rakan anda! Selamat belajar!</p>

              <p>Jangka masa pelajaran: 25 minit</p>

              <button class="pop-btn" id="class-start-close">Saya faham!</button>
            </div>
        </div>
        <% } %>

        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-1.png" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>BAB 1</div></div>
                 <h3>“Kalau musim hujan, jalan dia jadi paya!”</h3>
                 <div class="ch-content">
                   <p>Di suatu tempat di tengah-tengah hutan di Pahang, sebuah bangunan pencakar langit tersergam indah akan membangun di kawasan penempatan Orang Asli. Itulah yang terjadi jika kata-kata Niza dituruti.</p>
                   <p>“Sekolah impian saya, nak bina dekat kampung,” Niza memberitahu kami. “Nak bina sekolah yang lebih daripada rumah yang kami bina, sekolah batu yang bertingkat-tingkat.”</p>
                   <p>“Sebab pelajar Orang Asli tak pernah duduk dalam bangunan yang tinggi, jadi saya ingin membina sekolah di mana pelajar Asli boleh rasa juga seperti kaum lain rasa, seperti orang Melayu, Cina, dan banyak lah kaum lain.”</p>
                   <p>Ketika kami bercakap dengannya melalui panggilan video, kedengaran sayup-sayup bunyi generator yang menjana hotspot Wi-Fi komuniti yang menghubungkan kami di kampungnya di Pos Lenjang, berdekatan kaki bukit Banjaran Titiwangsa. Capaian internet agak lemah, dan kami terpaksa mematikan siaran video kami supaya panggilan tidak terganggu.</p>
                   <p>Sambungan internet yang bermasalah menyebabkan suasana pembelajaran lebih menyesakkan semasa pandemik Covid-19, akui Niza. Dia lebih gemar menanyakan soalan kepada guru secara berhadapan, berbanding menggunakan aplikasi pemesejan.</p>
                   <p>Kami bercakap dengan Niza sebagai sebahagian daripada siri temubual bersama kanak-kanak Orang Asli, di mana kami mengajak mereka untuk membayangkan sekolah idaman mereka. Selalunya, sekolah-sekolah yang dibayangkan ini berakar umbi dari cabaran masa kini.</p>
                   <p>“Kalau saya bina satu sekolah dekat kawasan perkampungan, tak perlulah dengan lori JAKOA. Kita jalan kaki je sampai ,” jelasnya, merujuk kepada pengangkutan yang disediakan oleh Jabatan Kemajuan Orang Asli.</p>
                   <p>Lori-lori ini sepatutnya digunakan untuk mengangkat muatan, tetapi nampaknya boleh juga digunakan untuk menghantar murid-murid mengharungi jalan-jalan berlumpur.</p>
                    <div id="ch-doodle">
                        <img src="/images/chapters/ch1-doodle.PNG" alt="">
                    </div>
                   <p>“Lori itu ada tempat duduk dan luas, tapi kalau penuh dengan orang mesti sempit,” katanya tertawa sambil menceritakan perjalanannya. “Sempit sana, sempit sini, bergoyang lagi. Bila nak tidur, terhantuk sini, terhantuk situ kepala!”</p>
                   <p>Perjalanannya memakan masa lapan jam, mengharungi jalan-jalan berlumpur di dalam hutan hinggalah keluar ke bandar, dengan kira-kira 30 murid-murid lain bersesakan di dalam gerabak terbuka lori itu.</p>
                   <p>Ia tidak pernah berlaku sebelum ini, tetapi Niza kadangkala bimbang lori itu akan terbalik: “Sebab ramai orang, berat kan? Dan jalan tak elok,” jelasnya.</p>
                   <p>“Kalau dekat kampung jalan dia berlubang-lubang. Lagi-lagi kalau musim hujan, habis! Dia jadi macam paya!</p>
                   <p>Pemandunya terpaksa berhenti dan menarik penutup plastik di atas gerabak, yang tidak berupaya untuk membendung hujan lebat, tetapi sekurang-kurangnya dapat memastikan beberapa bahagian di dalam gerabak itu tidak terkena hujan.</p>
                   <p>“Bila hujan, kami cepat-cepat campak beg dekat tempat yang tak kena hujan,” katanya. “Masa hujan orang tak marah bila kami campak beg, tapi bila dah sampai sekolah, marah sebab beg hilang!”</p>
                   <p>Di sekolah, dia tinggal di asrama sehinggalah perjalanan lori seterusnya membawanya pulang untuk cuti semester.</p>
                   <p>Adakah anda suka menaiki lori ke sekolah? tanya kami. “Suka,” jawabnya. “Sebab saya tak ada pengangkutan lain nak pergi sekolah, naik je apa yang ada.”</p>
                   <p>Asalkan dapat pergi ke sekolah? “Ya. Saya gembira kalau saya sampai kat sekolah, dapat belajar. Saya lebih suka belajar, daripada duduk kampung tak tahu nak buat apa.”</p>
                   <p>Cabaran hanya untuk hadir ke sekolah adalah suatu cabaran yang dihadapi oleh ramai murid-murid Orang Asli. <a href="https://www.ideas.org.my/publications-item/contextualising-education-policy-to-empower-orang-asli-children/">Kertas kajian 2021 oleh Institut Demokrasi dan Hal Ehwal Ekonomi (IDEAS)</a> mendedahkan pengangkutan sebagai salah satu masalah yang paling sering diketengahkan oleh murid-murid dan ibu bapa Orang Asli dalam hal pencapaian pendidikan. Kebanyakan maklumbalas mereka berkaitan dengan kebolehpercayaan atau kesesuaian pengangkutan yang disediakan oleh JAKOA.</p>
                   <p>Ada sebahagian yang melaporkan kemalangan akibat kenderaan yang tidak sesuai atau terlebih muatan.</p>
                   <p>Walaupun begitu, majoriti mereka yang ditemubual terus bergantung kepada bantuan pengangkutan JAKOA, sama ada dalam bentuk pengangkutan kontrak atau, dalam beberapa kes, subsidi minyak. Ini menggariskan cabaran sosio-ekonomi lebih luas yang dihadapi oleh Orang Asli, yang mengehadkan akses mereka kepada infrastruktur yang dianggap remeh oleh populasi utama.</p>
                   <p>Menurut statistik terkini daripada Unit Perancang Ekonomi di Jabatan Perdana Menteri, apabila kadar kemiskinan negara adalah 3.8% pada tahun 2009, kadar kemiskinan Orang Asli ialah 49%.</p>
                   <p>Kajian IDEAS mengenalpasti kemiskinan sebagai salah satu faktor yang menyumbang kepada kadar keciciran yang tinggi dalam kalangan pelajar Orang Asli – terutamanya semasa peralihan antara sekolah rendah dan menengah – dan prestasi akademik yang lemah.</p>

                   <br>
                   <img src="/images/chapters/dropout-rates-eng.png" style="width:100%;" alt="">

                   <br>
                   <img src="/images/chapters/upsr-rate-eng.png" style="width:100%;" alt="">


                   <p>"Ketersediaan bantuan pengangkutan menunjukkan terdapat pemahaman tentang keperluan masyarakat Orang Asli," kata Wan Ya Shin, penulis laporan IDEAS itu. <a href='/bab1/jumpa/clue-3' id="clue-3" class="<%= currScore.clue[2] == true ? 'clue found' : 'clue' %>"> "Tetapi terdapat keperluan untuk terus meningkatkan kecekapan dan keberkesanan program bantuan ini melalui pemantauan dan penilaian yang lebih baik – bagi semua program, bukan hanya pengangkutan."</a></p>
                   <p>Tinjauan IDEAS mendedahkan banyak contoh di mana program bantuan kurang memberangsangkan oleh kerana pelaksanaan yang lemah. Salah satu contoh adalah pembayaran elaun pelajar yang dikeluarkan pada hujung bulan, bermakna sesetengah murid terpaksa berlapar sementara menunggu pembayaran, malah ada juga yang berhenti sekolah.</p>
                   <p><a href='/bab1/jumpa/clue-10' id="clue-10" class="<%= currScore.clue[9] == true ? 'clue found' : 'clue' %>">“Cara terbaik untuk menambah baik adalah memperkasakan komuniti tempatan sendiri untuk terlibat dalam keseluruhan proses,”</a> sambung Ya Shin. “Pewujudan majlis pendidikan Orang Asli yang terdiri daripada pemimpin, penggubal dasar pendidikan, pengetua, dan guru dari komuniti Orang Asli, dengan pihak berkepentingan lain yang berkaitan, untuk mentadbir dan memantau kemajuan dasar dan program untuk kanak-kanak, akan membantu memastikan suara Orang Asli diambil kira sepenuhnya dan terlibat dalam pemantauan rapi mana-mana program.”</p>
                   <p>“Perlu ada saluran yang betul di mana majlis ini boleh membuat aduan dan cadangan kepada semua kementerian yang berkaitan, untuk memudahkan kerjasama antara kementerian.”</p>
                   <p><a href='/bab1/jumpa/clue-12' id="clue-12" class="<%= currScore.clue[11] == true ? 'clue found' : 'clue' %>">“Kerjasama antara kementerian yang berkaitan adalah penting kerana cabaran pendidikan yang dihadapi oleh pelajar Orang Asli adalah multidimensi dan merentasi begitu banyak isu, daripada pemakanan, penjagaan kesihatan, kemudahan asas hinggalah akses internet.”</a></p>
                   <p>Separuh jalan berbicara dengan Niza, dia terpaksa memutuskan perbualan.</p>
                   <p>“Jap, jap. WiFi sudah habis minyak,” katanya di samping riuh-rendah suara di latar belakang. Generator petrol yang menjanakan hotspot WiFi komuniti kekurangan minyak. Capaian internet akan terputus tidak lama lagi.</p>
                   <p>“Bukan habis kredit top-up, habis minyak” jelasnya, sekaligus merujuk kepada dua cabaran yang menjejaskan 'pengangkutannya' ke sekolah semasa pandemik.</p>
                   <p>Walaupun ketersambungan moden mendekatkan kita dengan sesiapa sahaja yang kita mahukan, sekolah idaman Niza masih berdiri jauh dari pandangan.</p>

                    <br><em>*Nama kanak-kanak telah ditukar untuk melindungi identiti mereka. Temubual bersama Niza ini tiada kaitan dengan temubual kajian IDEAS.</em>
                 </div>

                <div class="ch-finished">
                  <span><img class="<%= currScore.clue[9] == true && currScore.clue[11] == true && currScore.clue[2] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                  <% if (currScore.clue[9] == true && currScore.clue[11] == true && currScore.clue[2] == true){ %>
                  Anda telah selesaikan bab ini
                  <% } else { %>
                  Anda belum menemui kesemua kunci utama dalam bab ini
                  <% } %></span>
                  <div class="chapter-btns">
                    <!-- <button class="ch-prev"><a href="/en/orang-asli">< PREVIOUS</a></button> -->
                    <button class="ch-next"><a href="/bab2">Seterusnya ></a></button>
                  </div>
                </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EPBWRZ4LCM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EPBWRZ4LCM');
</script>
    </body>
</html>
