<!DOCTYPE html>
<html lang="ms">
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="og:title" content="“Nanti saya tunjuk je kebolehan diri kepada mereka”">
   <meta name="og:description" content="Sekolah idaman Meng lengkap dengan tempat letak kereta untuk orang kurang upaya, dan ada sebab yang unik untuknya.">
   <meta name="og:image" content="/images/chapters/chapter-5.PNG">
      <meta name="twitter:title" content="“Nanti saya tunjuk je kebolehan diri kepada mereka”">
   <meta name="twitter:description" content="Sekolah idaman Meng lengkap dengan tempat letak kereta untuk orang kurang upaya, dan ada sebab yang unik untuknya.">
   <meta name="twitter:image" content="/images/chapters/chapter-5.png">
   <meta name="twitter:card" content="summary_large_image">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <!-- overlay -->
      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
      <%- include popups/treasure-hunt-bm.ejs %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-5.PNG" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>BAB 5</div></div>
                 <h3>“Nanti saya tunjuk je kebolehan diri kepada mereka”</h3>
                 <div class="ch-content">
                   <p>Keluarga Meng tidak mempunyai kereta, tetapi dia mengimpikan sebuah sekolah yang mempunyai tempat letak kereta untuk orang kurang upaya (OKU). Impiannya sangat kuat – apabila melakar sekolah idamannya di atas kertas, dia memastikan sebahagian tempat letak kereta yang dilukisnya ditanda dengan simbol OKU.</p>
                   <p>“Sebabnya, saya pun ada juga keluarga yang golongan OKU,” jelasnya. “(Parking OKU itu) memudahkan mereka parking kereta, sebab kadang-kadang tengok mereka turun dari kereta pun susah.”</p>
                    <div id="ch-doodle">
                      <img src="/images/chapters/ch5-doodle.png" alt="">
                    </div>
                   <p>Kemudian, setelah terhenti seketika, dia menambah: “Dan saya pun termasuk juga (dalam golongan OKU).”</p>
                   <p>Kami terkesima.Ketika kami berbicara dengannya melalui panggilan video, kanak-kanak perempuan yang yakin dan ekspresif ini tidak menunjukkan dia kekurangan apa-apa dari segi fizikal. Lalu kami bertanya dengan lebih lanjut.</p>
                   <p>“Mulanya saya lambat untuk faham,” dia menjelaskan pengalamannya semasa sekolah rendah. “Dari segi mengeja, kalau menulis, saya OK. Cuma masalah saya nak baca je yang saya tak lepas.”</p>
                   <p>Salah seorang gurunya menyedari sesuatu yang tidak kena padanya, lalu membawanya untuk pemeriksaan, di mana seorang doktor mendiagnosis Meng mengalami masalah pembelajaran. Dalam beberapa minggu, dia diberikan kad OKU, dan dia mula menghadiri kelas yang berbeza dan mengambil peperiksaan berasingan daripada rakan sebayanya. Keluarganya juga menerima bantuan bulanan dalam bentuk wang.</p>
                   <p>Sebilangan ibu bapa mengeluh mengenangkan bagaimana guru mudah membiarkan pelajar Orang Asli dikategorikan sebagai OKU, dan bukan cuba memahami keperluan pelajar dan menyesuaikan kaedah pengajaran mereka sewajarnya.</p>
                   <p>Bagi Meng dan keluarga, mereka tidak diberitahu tentang hal itu sehinggalah dia menerima kad OKU. Walaubagaimanapun, dia menerima hakikatnya: “Waktu itu boleh terima lah, sebab tahu lah sendiri pun tak boleh baca.”</p>
                   <p>Namun selepas itu, hinaan bermula.</p>
                   <p>Apa yang mereka kata? kami menyentuh topik itu dengan lembut. “Diaorang kata OKU, tak pandai lah, cacat lah, bodoh lah.”</p>
                   <p>Dia ketawa ringan, ketawa yang sering dilakukan untuk menutup perasaan malu, kemudian cepat-cepat meminta maaf kerana mengulangi perkataan-perkataan itu kepada kami. Kami tidak tahu bagaimana untuk menolak permohonan maafnya.</p>
                   <p>“Saya cuma senyap je,” sambungnya. “Kadang-kadang sakit hati dengar, tapi bila lawan balik, lama-lama jadi senyap. Tak berani nak lawan.”
                   </p>
                   <p>Cacian itu berterusan dari sekolah rendah hingga sekolah menengah. Pihak berkuasa telah memberikan status yang lebih rendah kepada Meng, dan nampaknya orang lain mengambil kesempatan untuk memperlakukannya sedemikian.</p>
                   <p>“Saya cakap ‘Sabar je, sabar’,” katanya, mengajuk suara yang tenang. “Walaupun kadang-kadang hati rasa nak tumbuk orang pun ada.”</p>
                   <p>“Sabar je, nanti tunjuk je kebolehan diri kepada mereka.”</p>
                   <p>Suaranya nekad semasa mengatakannya, suara seorang kanak-kanak yang bertekad untuk merampas kembali naratif hidupnya.</p>
                   <p>Keputusan peperiksaannya meningkat. Dia berkata dia tidak lagi menghadapi masalah membaca, dan dia kini mendapat markah yang lebih baik berbanding beberapa pelajar yang menghinanya.</p>
                   <p>“Kisah-kisah kejayaan, dalam mengatasi halangan, benar-benar membantu mengubah wacana awam yang mempamerkan Orang Asli sebagai mundur atau bertaraf rendah," kata Ya Shin apabila mengingati kisah Meng. "Wacana itu adalah tidak benar sama sekali, tetapi berlaku di peringkat sekolah, dan seterusnya ke peringkat tertinggi penggubalan dasar awam."</p>
                   <p>“‘Naratif defisit’ ini menyalahkan budaya dan cara hidup Orang Asli sebagai punca masalah,” kata Dr Rusaslina. "Jadi mereka dipersalahkan dan tidak banyak perhatian diberikan kepada masalah yang lebih asas seperti ketidaksamaan struktur dan kebolehcapaian."</p>
                   <p>Kajian IDEAS melihatkan beberapa contoh di mana cara hidup Orang Asli dikatakan sebagai cabaran kepada pendidikan, kecacatan yang perlu diatasi, dan menyatakan persepsi sedemikian wujud dalam kalangan guru, penggubal dasar, ahli akademik dan media.</p>
                   <p>Terdapat suatu ketika di mana Orang Asli telah diberikan status defisien, dan kini nampaknya semua orang menganggap ianya wajar untuk memperlakukan mereka sebegitu rupa.</p>
                   <p><a href="/bab5/jumpa/clue-11" id="clue-11" class="<%= currScore.clue[10] == true ? 'clue found' : 'clue' %>">“Kita perlu beralih kepada wacana berasaskan kekuatan, di mana kita mengiktiraf budaya dan tradisi Orang Asli sebagai sumber penting dan kita semua boleh belajar daripadanya,” </a>  tegas Dr Rusaslina. "Apabila kita mengiktirafnya, kita mengiktiraf mereka sebagai manusia yang setaraf dengan kita dalam masyarakat, bukannya orang yang perlu diberitahu apa yang perlu dilakukan dan jenis pembangunan yang mereka perlukan."</p>
                   <p>"Mungkin satu perkara yang perlu kita lakukan ialah menghormati autonomi mereka, hak mereka untuk memutuskan sendiri apa yang mereka mahukan untuk komuniti mereka."</p>
                   <p>Itu akan mengembalikan kepada mereka hak naratif mereka sendiri. Hak untuk membayangkan persekitaran mereka, ekonomi mereka, keluarga mereka, sekolah mereka, sepertimana yang mereka lihat. Hanya apabila semua orang memiliki hak itu, barulah kita dapat sama-sama membayangkan masyarakat yang adil dan saksama.</p>
                   <p>Adakah anda rasa anda kurang upaya? tanya kami kepada Meng. “Kalau dulu, ya. Tapi kalau sekarang, rasa tak ada dah,” jawabnya, dan kami membayangkannya dia sudahpun mula membina masyarakat impiannya. “Tapi saya akan hormat juga orang OKU, sebab saya tahu saya sendiri pun pernah OKU juga.”</p><br>
                   <p><em>*Nama kanak-kanak telah ditukar untuk melindungi identiti mereka. Temubual bersama Niza ini tiada kaitan dengan temubual kajian IDEAS.</em></p>
                 </div>

                 <div class="ch-finished">
                   <span><img class="<%= currScore.clue[10] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                   <% if (currScore.clue[10] == true){ %>
                   You have completed this chapter
                   <% } else { %>
                   You have not found all the solutions in this chapter
                   <% } %></span>
                   <div class="chapter-btns">
                     <button class="ch-prev"><a href="/bab4">< PREVIOUS</a></button>
                     <% if (currScore.cluesFound == 12) {%>
                     <button class="ch-next"><a href="/take-action">NEXT ></a></button>
                     <%} else { %>
                      <button class="ch-next access-denied">NEXT ></button>
                    <%} %>
                   </div>
                 </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EPBWRZ4LCM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EPBWRZ4LCM');
</script>
    </body>
</html>
