<!DOCTYPE html>
<html lang="ms">
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="og:title" content="'Kalau dididik dengan betul, semua boleh belajar'">
   <meta name="og:description" content="Donny bercita-cita untuk menjadi seorang guru demi berbakti kepada komunitinya. Baca kisahnya untuk mengetahui apa yang mendorongnya.">
   <meta name="og:image" content="/images/chapters/chapter-3.png">
   <meta name="twitter:title" content="'Kalau dididik dengan betul, semua boleh belajar'">
   <meta name="twitter:description" content="Donny bercita-cita untuk menjadi seorang guru demi berbakti kepada komunitinya. Baca kisahnya untuk mengetahui apa yang mendorongnya.">
   <meta name="twitter:image" content="/images/chapters/chapter-3.png">
   <meta name="twitter:card" content="summary_large_image">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <!-- overlay -->
      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
      <%- include popups/treasure-hunt-bm.ejs %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-3.png" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>BAB 3</div></div>
                 <h3>“Kalau dididik dengan betul, semua boleh belajar”</h3>
                 <div class="ch-content">
                   <p>Apabila Donny mula bersekolah, dia mempunyai tabiat membakar baju sekolahnya.</p>
                   <p>Tidak, dia bukan bermain dengan api. Dan dia tiada kemalangan di dapur. Itu hanyalah merupakan kali pertama dia menggosok baju sekolahnya.</p>
                   <p>“Saya memang budak yang pusing (kawalan suhu) sampai habis,” kata Donny.</p>
                   <p>“Saya ingat pengalaman saya, pernah tiga, empat baju saya bocor masa itu.”</p>
                   <p>Donny baru berusia tujuh tahun ketika itu, tinggal di asrama sekolah, inilah kali pertama dia berjauhan dengan keluarganya.</p>
                   <p>“Masa mula-mula masuk, saya berdikari sendiri lah,” ingat Donny. “Tapi ada warden dan pembantu pelajar, mereka tolong ajar.”</p>
                   <p>“Dari situ saya dapat mengetahui cara menggosok baju.”</p>
                   <p>Banyak komuniti Orang Asli yang terletak di luar lingkungan jalan raya bertar, jauh dari sekolah kerajaan, menjadikan sekolah asrama satu-satunya pilihan realistik untuk pendidikan rasmi.</p>
                   <p>Selalunya, sekolah-sekolah ini terlalu jauh, atau jalan-jalannya sangat teruk, sehingga murid jarang berpeluang untuk menziarahi rumah masing-masing semasa semester persekolahan. Perpisahan yang berpanjangan ini menyebabkan terdapat jurang keibubapaan yang perlu diisi oleh pihak sekolah.</p>
                   <p>Warden asrama Donny mengisi peranan itu dengan baik. Lagipun, sekolahnya adalah sekolah Pusat Intelek, yang dibina untuk murid Orang Asli yang berpencapaian tinggi. Sebaliknya, ramai Orang Asli yang memasuki sekolah berasrama biasa melaporkan pengalaman yang kurang baik.</p>
                    <div id="ch-doodle">
                      <img src="/images/chapters/ch3-doodle.png" alt="">
                    </div>
                   <p>Pada tahun 2015, tujuh murid Orang Asli sekolah rendah hilang dari asrama sekolah di Pos Tohoi, Kelantan. Pihak berkuasa sekolah pada mulanya menganggap murid-murid itu ponteng dan cuba menjejaki mereka di rumah mereka. Apabila ia terbukti tidak benar, mereka mula membuat laporan polis dan memulakan operasi mencari di hutan berhampiran.</p>
                   <p>Selepas pencarian selama 46 hari yang mencengkam negara, hanya dua murid ditemui hidup, meskipun hampir mati kelKeesokan harinya, wajah-wajah kurus dua mangsa yang terselamat dapat dilihat dari muka depan akhbar dan laporan atas talian. Kisah mereka kemudian terungkai. Mereka telah melarikan diri ke dalam hutan dan bersembunyi di sana kerana mereka takut kepada guru-guru sekolah mereka.</p>
                   <p>Mereka menceritakan bagaimana guru-guru mereka kerap memukul murid sebagai hukuman, dan menggambarkan bentuk hukuman lain yang seakan seksaan.</p>
                   <p>Walaupun hukuman fizikal bukanlah sesuatu yang luar biasa di sekolah Malaysia, ianya jarang dipraktikkan dalam keluarga Orang Asli, di mana kanak-kanak selalunya dididik dengan lemah lembut.</p>
                   <p>Sehingga kini, tiada tindakan tatatertib yang telah diumumkan terhadap pihak sekolah mahupun guru-guru terbabit.</p>
                   <p>Tidak hairanlah bahawa keluarga yang terkesan di Pos Tohoi enggan menghantar anak-anak mereka kembali ke sekolah. Tingkah laku guru-guru yang membawa kepada tragedi telah meruntuhkan kepercayaan Orang Asli terhadap sekolah.</p>
                   <p>Sementara Insiden Pos Tohoi adalah contoh insiden melampau yang boleh terjadi, kajian temubual yang dijalankan oleh IDEAS menemui banyak lagi kejadian guru-guru seolah-olah menjauhkan diri daripada murid Orang Asli apabila usaha mereka tidak membuahkan hasil yang diharapkan.</p>
                   <p>Seorang murid Orang Asli berkata dia sering merasakan seolah-olah gurunya tidak suka mengajar Orang Asli, “Dia tak sebut, tapi, daripada cara yang dia tengok tu, dia macam tak suka Orang Asli. Macam dia terpaksa belajar Orang Asli.”</p>
                   <p>Seorang lagi mendakwa gurunya secara terbuka menggelar murid Orang Asli sebagai ‘bodoh’ dan tidak berbaloi untuk diajar.</p>
                   <p>“Guru itu adalah sekolah. Tanpa guru, sekolah hanyalah sekadar bangunan. Jika guru gagal berinteraksi dengan bermakna bersama murid-murid, infrastruktur atau fasiliti sehebat manapun tidak akan membantu,” kata Wan Ya Shin, salah seorang penulis kajian IDEAS itu.</p>
                   <p>“Berinteraksi dengan bermakna termasuklah menghargai konteks berbeza dari mana pelajar berasal, dan menyesuaikan kaedah pengajaran mengikut tahap masing-masing. <a href='/en/chapter3/found-clue/clue-4' id="clue-4" class="<%= currScore.clue[3] == true ? 'clue found' : 'clue' %>">Guru yang cukup berpengalaman dan berkebolehan untuk berbuat demikian harus diberi kebebasan untuk berinovasi, demi kepentingan pelajar mereka.”</a></p>
                   <p><a href='/en/chapter3/found-clue/clue-4' id="clue-4" class="<%= currScore.clue[3] == true ? 'clue found' : 'clue' %>">“Pada masa yang sama, kita perlu memastikan guru-guru ini mendapat latihan serta sokongan untuk menguruskan autonomi ini, kerana ia datang dengan tanggungjawab yang lebih besar.”</a></p>
                   <p>Sebilangan guru yang ditemubual oleh IDEAS menempa kejayaan dengan murid Orang Asli apabila mereka menyesuaikan sukatan pelajaran untuk anak murid mereka, dan bukannya mengikutinya bulat-bulat.</p>
                   <p>“Secara logik akal – kenapa saya mengajar sukatan pelajaran Tahun 5 sedangkan pelajar saya tidak boleh membaca?” kata Samuel Isaiah, bekas guru di sekolah Orang Asli, di mana kaedah pengajarannya yang inovatif merangkumi bilik darjah bergerak yang dikenali sebagai ‘Sekolah Pokok’, di mana dia mengajar pelajaran di bawah pokok di kampung mereka.</p>
                   <p>"Saya tidak mengubah kurikulum, saya menyesuaikannya mengikut keperluan murid-murid,” sambungnya. “Sewaktu pertama kali saya berjumpa dengan anak murid saya, saya menjalankan analisis keperluan, dan dari situ, saya berusaha agar mereka akhirnya selaras dengan kurikulum."</p>
                   <p>Seorang lagi guru berkata, apabila peperiksaan UPSR dibatalkan kerana pandemik Covid-19, ia memberikannya lebih kebebasan untuk mengajar mengikut rentak murid berbanding tergesa-gesa menghabiskan sukatan pelajaran tepat pada masanya sebelum peperiksaan. Dia menyaksikan hasil pembelajaran yang lebih baik.</p>
                   <p><a href='/en/chapter3/found-clue/clue-1' id="clue-1" class="<%= currScore.clue[0] == true ? 'clue found' : 'clue' %>">“Ini menunjukkan keperluan untuk mengalihkan sasaran yang terlalu berpandukan peperiksaan, dan sebaliknya membina bilik darjah yang lebih menumpukan dalam menangani isu asas yang mempengaruhi hasil pembelajaran," kata Ya Shin. “Jika tidak, ia seolah-olah kita mengena sasaran tetapi tersasar dari matlamat.”</a></p>
                   <button id="hero-teacher" class="teacher-btn"><a href="/en/hero-teachers">Kenali guru-guru wira yang membayangkan semula bilik darjah mereka <img src="/images/Chapter2-ENG/group-430.svg" alt=""></a></button>
                   <p><a href='/en/chapter3/found-clue/clue-10' id="clue-10" class="<%= currScore.clue[9] == true ? 'clue found' : 'clue' %>">Dalam hampir semua kes di mana guru menemui kejayaan, penyertaan aktif daripada murid-murid dan komuniti mereka adalah langkah pertama.</a></p>
                   <p>“Ianya merupakan amalan harian saya sebagai guru Bahasa Inggeris. Saya mendengar, saya merenung, saya menilai, dan kemudian saya merombak semula. Proses itu berlaku secara aktif,” kata Samuel, yang <a href='/en/chapter3/found-clue/clue-7' id="clue-7" class="<%= currScore.clue[6] == true ? 'clue found' : 'clue' %>">menghabiskan masa selama setahun berinteraksi dengan murid-murid serta komuniti mereka, sebelum merangka intervensi kontekstual. Dia juga melawat pelajarnya dan membawa keluarga mereka ke sekolah untuk menjalin hubungan baik.</a></p>
                   <p>“Mereka mula menyedari bahawa pendapat mereka penting untuk suasana kelas, dan saya mula menerima maklum balas yang bagus daripada mereka.” Maklum balas itu sekali lagi dimasukkan ke dalam proses inovasi Samuel yang berterusan, membawa kepada keputusan yang tidak dapat dinafikan – kadar kelulusan Bahasa Inggeris murid-muridnya meningkat daripada 30% (2008-2012) kepada 80% (2013-2017).</p>
                   <p>Donny, kini berusia 19 tahun dan belajar di kolej vokasional, mengakui nasib baiknya dalam menghadiri sekolah Pusat Intelek, di mana kebanyakan warden dan guru tidak akan mengecam mereka. Namun begitu, dia juga mengalami pengalaman buruk: “Bagi saya, masalahnya ialah apabila terdapat cikgu yang tidak berusaha untuk memajukan pendidikan dan kokurikulum Orang Asli,” katanya.</p>
                   <p>“Murid-murid Orang Asli akan lebih cenderung terhadap aktiviti sukan, tetapi kalau mereka diajar dengan betul, semua orang boleh belajar.”</p>
                   <p>Sementara guru diharapkan untuk mengajar dengan lebih baik, dapatan kajian IDEAS menunjukkan bahawa mereka tidak dibantu kerana kekurangan sokongan yang sistemik.</p>
                   <p><a href='/en/chapter3/found-clue/clue-5' id="clue-5" class="<%= currScore.clue[4] == true ? 'clue found' : 'clue' %>">““Kita perlu memastikan guru-guru yang ditugaskan di sekolah luar bandar lebih bersedia untuk pekerjaan mereka, dengan menyediakan latihan dan pemekaan yang bersesuaian, juga penginapan yang baik,”</a> kata Ya Shin, sambil menyatakan bahawa ramai guru yang ditemubualnya berasa tidak bersedia dan kekurangan sokongan untuk menangani cabaran mengajar murid Orang Asli, terutamanya di kawasan pedalaman. <a href='/en/chapter3/found-clue/clue-6' id="clue-6" class="<%= currScore.clue[5] == true ? 'clue found' : 'clue' %>">“Tetapi selain daripada itu, kami memerlukan wadah di mana guru-guru ini boleh berkongsi kejayaan serta kegagalan mereka, dan belajar antara satu sama lain.”</a></p>
                   <p>Donny mempunyai solusi yang lebih mudah, seiring dengan desakan Samuel untuk penyertaan yang lebih besar daripada komuniti: “Kalau sekolah kurang untuk membangunkan kemajuan Orang Asli, jadi saya pun berusaha,” katanya. “Itu sebab saya nak jadi cikgu pada masyarakat Orang Asli.”</p>
                 </div>

                 <div class="ch-finished">
                   <span><img class="<%= currScore.clue[3] == true && currScore.clue[6] == true && currScore.clue[9] == true && currScore.clue[4] == true && currScore.clue[5] == true && currScore.clue[0] == true ? 'show' : 'dim' %>" src="/images/menu/group-110.svg" alt="">
                   <% if (currScore.clue[3] == true && currScore.clue[6] == true && currScore.clue[9] == true && currScore.clue[4] == true && currScore.clue[5] == true && currScore.clue[0] == true){ %>
                   You have completed this chapter
                   <% } else { %>
                   You have not found all the solutions in this chapter
                   <% } %></span>
                   <div class="chapter-btns">
                     <button class="ch-prev"><a href="/bab2">< PREVIOUS</a></button>
                     <button class="ch-next"><a href="/bab4">NEXT ></a></button>
                   </div>
                 </div>


            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
