
<section class="menu-wrapper ">

  <div class="menu-container menu-close">
  <button class="close-btn"><img src="/images/icon-close.svg" alt="close"></button>
      <a href="/en/orang-asli">
        <div class="menu-outer">
          <div class="menu-inner">
            <img src="/images/orang-asli/mask-group-4.png" alt="">
          </div>
          <div class="menu-title main">Who are the Orang Asli</div>
        </div>
      </a>

      <a href="/en/chapter1">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
             <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
          <div class="menu-inner">
            <img src="/images/chapters/chapter-1.png" alt="">
          </div>
            <div class="menu-title chapter"><p>Chapter 1:</p>“When it rains, the roads become like a swamp!”</div>
          <img class="<%= currScore.clue[9] == true && currScore.clue[11] == true && currScore.clue[2] == true ? 'show ch-complete' : 'dim ch-complete' %>" src="/images/menu/group-110.svg" alt="">
        <!-- </div> -->
        </div>
      </a>

      <a href="/en/chapter2">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
             <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
            <div class="menu-inner">
              <img src="/images/Chapter2-ENG/ch-2-menu-v2.png" alt="">
            </div>
              <div class="menu-title chapter"><p>Chapter 2:</p>The schools we attend</div>
            <img class="<%= currScore.clue[8] == true && currScore.clue[7] == true ? 'show ch-complete' : 'dim ch-complete' %>" src="/images/menu/group-110.svg" alt="">
          <!-- </div> -->
        </div>
       </a>

       <a href="/en/chapter3">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
            <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
            <div class="menu-inner">
              <img src="/images/chapters/chapter-3.png" alt="">
            </div>
              <div class="menu-title chapter"><p>Chapter 3:</p>“If you teach us in the right way, everyone can learn”</div>
            <img class="<%= currScore.clue[3] == true && currScore.clue[6] == true && currScore.clue[9] == true && currScore.clue[4] == true && currScore.clue[5] == true && currScore.clue[0] == true ? 'show ch-complete' : 'dim ch-complete' %>" src="/images/menu/group-110.svg" alt="">
          <!-- </div> -->
        </div>
       </a>

       <a href="/en/chapter4">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
            <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
            <div class="menu-inner">
              <img src="/images/chapters/chapter-4.PNG" alt="">
            </div>
              <div class="menu-title chapter"><p>Chapter 4:</p>“I want a school that’s in the forest, just a simple building”</div>
            <img class="<%= currScore.clue[1] == true ? 'show ch-complete' : 'dim ch-complete' %>" src="/images/menu/group-110.svg" alt="">
          <!-- </div> -->
        </div>
       </a>

       <a href="/en/chapter5">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
            <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
            <div class="menu-inner">
              <img src="/images/chapters/chapter-5.PNG" alt="">
            </div>
              <div class="menu-title chapter"><p>Chapter 5:</p>“I will show them what I can do”</div>
           <img class="<%= currScore.clue[10] == true ? 'show ch-complete' : 'dim ch-complete' %>" src="/images/menu/group-110.svg" alt="">
          <!-- </div> -->
        </div>
       </a>
       <a href="/en/resources">
        <div class="menu-outer">
          <!-- <div class="not-available"> -->
             <!-- <img class="ch-locked" src="/images/icon-lock.svg" alt=""> -->
            <div class="menu-inner">
              <img src="/images/resources-img/resources-page.png" alt="">
            </div>
              <div class="menu-title main"><p>Resources</p></div>
           <!-- <img class="ch-complete" src="/images/menu/group-110.svg" alt="">  -->
          <!-- </div> -->
        </div>
      </a>


      <% if (currScore.cluesFound == 12) {%>
      <a href="/en/take-action">
        <div class="menu-outer">
            <div class="menu-inner take-action-menu">
              <img src="/images/menu/take-action-d.png" alt="">
            </div>
              <!-- <div class="menu-title main"><p>Take Action</p></div> -->
            <!-- <img class="ch-complete" src="/images/menu/group-110.svg" alt=""> -->
        </div>
      </a>
      <%} else { %>
          <div class="menu-outer">
            <div class="not-available">
              <img class="ch-locked" src="/images/icon-lock.svg" alt="">
              <div class="menu-inner take-action-menu">
                <img src="/images/menu/take-action-d.png" alt="">
              </div>
                <!-- <div class="menu-title main"><p>Take Action</p></div> -->
              <!-- <img class="ch-complete" src="/images/menu/group-110.svg" alt=""> -->
            </div>
          </div>
      <% } %>


      <div class="menu-btns">
      <a href="/en"><div><img src="/images/menu/ic_home_24px.png" alt="">Home</div></a>
      <!-- <a href="/en/resources"><div><img src="/images/menu/ic_insert_drive_file_24px.png" alt="">Resources</div></a> -->
      <a href="/en/about"><div><img src="/images/menu/ic_info_outline_24px.png" alt="">About</div></a>
      <a class="share-open"><div><img src="/images/menu/ic_share_24px.png" alt="">Share</div></a>
        <label class="switch menu-switch">
            <input type="checkbox" id="menu-switch">
            <span class="slider"></span>
            <span class="on">ENG</span>
            <span class="off">BM</span>
        </label>
    </div>
  </div>
</section>
